<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../resources/assets/css/style.css" />
    <link rel="stylesheet" href="../resources/assets/css/headers/header1.css" />
    <link rel="stylesheet" href="../resources/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../resources/assets/css/style_responsive.css" />
    <link rel="shortcut icon" href="favicon.ico" />        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="../resources/assets/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../resources/assets/plugins/portfolioSorting/css/sorting.css" />    
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../resources/assets/css/themes/default.css" id="style_color" />
    <link rel="stylesheet" href="../resources/assets/css/themes/headers/default.css" id="style_color-header-1" />    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head> 

<body>


<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div id="w">
            <div class="sort" id="sort">
                <h2>Các sản phẩm đang hot</h2>
                <ul class="unstyled inline">
                    <li><a href="#" class="all selected">All</a></li>
                    <li><a href="#" class="web">Web</a></li>
                    <li><a href="#" class="ios">iOS</a></li>
                    <li><a href="#" class="print">Print</a></li>
                </ul>
            </div>

            <div class="products" ng-app="">
                <ul>

                    <ul class="portfolio recent-work clearfix">
                        {{#products.list}}
                            {{#gt unitPrice.amountCompact 10000}}
                            <li data-id="id-1" class="ios">
                                <a href="{{url}}">
                                    <em class="overflow-hidden">
                                        {{#image.featured}}
                                        <img src="{{url}}" alt="" />
                                        {{/image.featured}}
                                    </em>
                            <span>
                                <strong>{{title}}</strong>

                                <i >Giá: {{unitPrice.amountCompact}} {{unitPrice.currency.localSymbol}}</i>
                            </span>
                                </a>
                            </li>
                            {{else}}
                            {{/gt}}
                        {{/products.list}}
                    </ul>

                </ul>
            </div>
        </div>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="../resources/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../resources/assets/js/modernizr.custom.js"></script>        
<script type="text/javascript" src="../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="../resources/assets/plugins/portfolioSorting/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="../resources/assets/plugins/portfolioSorting/js/sorting.js"></script>
<script type="text/javascript" src="../resources/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="../resources/assets/js/app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="../resources/assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29166220-1']);
  _gaq.push(['_setDomainName', 'htmlstream.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html> 