<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>

    <!-- same_products.html css-->
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../resources/assets/css/style.css" />
    <link rel="stylesheet" href="../resources/assets/css/headers/header1.css" />
    <link rel="stylesheet" href="../resources/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../resources/assets/css/style_responsive.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../resources/assets/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../resources/assets/plugins/bxslider/jquery.bxslider.css" />
    <!-- CSS Theme -->
    <link rel="stylesheet" href="../resources/assets/css/themes/default.css" id="style_color" />

    <link rel="stylesheet" type="text/css" href="{{resource 'stylesheets/normalize.css'}}"/>
    <link rel="stylesheet/less" type="text/css" href="{{resource 'stylesheets/styles.less'}}"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400|Playfair+Display:400,400italic'
          rel='stylesheet' type='text/css'>

    <script src="//cdnjs.cloudflare.com/ajax/libs/snap.js/1.9.2/snap.min.js"></script>
    <!-- enquire.js for hooking JavaScript to media queries. From CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/enquire.js/2.0.0/enquire.min.js"></script>
    <!-- Swipe for swipe gallery on product page. From CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/swipe/2.0/swipe.min.js"></script>
    <!-- Picturefill for responsive images -->
    <script src="{{resource 'js/picturefill.js'}}" type="text/javascript"></script>
    <!-- Include mayocat.js -->
    <script src="{{resource 'js/mayocat.js'}}" type="text/javascript"></script>
    <!-- Finally, includes our own theme.js -->
    <script src="{{resource 'js/theme.js'}}" type="text/javascript"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        less = {
            env: "development" // or "production"
        };
    </script>
    <script src="{{resource 'scripts/jquery-1.9.1.min.js'}}" type="text/javascript"></script>
    <script src="{{resource 'scripts/less-1.3.3.min.js'}}" type="text/javascript"></script>
    <script src="{{resource 'scripts/handlebars.js'}}" type="text/javascript"></script>
    <script src="{{resource 'scripts/theme.js'}}" type="text/javascript"></script>


    <script type="text/javascript">
        $(function() {
            $("#tfq2b").click(function() {
                if ($("#tfq2b").val() == "Search our website"){
                    $("#tfq2b").val("");
                }
            });
        });
    </script>
    <!-- CSS styles for standard search box with placeholder text-->
    <style type="text/css">
        #tfheader{

        }
        #tfnewsearch{
            float:right !important;
            margin:20px !important;
        }
        .tftextinput2{
            margin: 0 !important;
            padding: 5px 15px !important;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size:14px !important;
            color:#666 !important;
            border:1px solid #0076a3 !important;
            border-right:0px !important;
            border-top-left-radius: 5px 5px !important;
            border-bottom-left-radius: 5px 5px !important;
        }
        .tfbutton2 {
            margin: 0 !important;
            padding: 5px 7px !important;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size:14px !important;
            font-weight:bold !important;
            outline: none !important;
            cursor: pointer !important;
            text-align: center !important;
            text-decoration: none !important;
            color: #ffffff !important;
            border: solid 1px #0076a3; border-right:0px !important;
            background: #0095cd !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5)) !important;
            background: -moz-linear-gradient(top,  #00adee,  #0078a5) !important;
            border-top-right-radius: 5px 5px !important;
            border-bottom-right-radius: 5px 5px !important;
        }
        .tfbutton2:hover {
            text-decoration: none !important;
            background: #007ead !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e)) !important;
            background: -moz-linear-gradient(top,  #0095cc,  #00678e) !important;
        }
        /* Fixes submit button height problem in Firefox */
        .tfbutton2::-moz-focus-inner {
            border: 0 !important;
        }
        .tfclear{
            clear:both !important;
        }
        input #tfq2b .tftextinput2
        {
            height: 29px !important;
        }

        select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
            display: inline-block;
            height: 29px;
            padding: 4px 6px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 20px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
        }
    </style>


</head>

<body id="home">

<header>
    <div id="top-bar">
        <div class="content">
            <div>
                <span class="locales">
                {{#eachProperty locales}}
                    {{#if value.current}}
                        {{key}}
                    {{else}}
                        <a href="{{value.url}}">{{key}}</a>
                    {{/if}}
                {{/eachProperty}}
                </span>
                <a href="/cart">
                    {{#cart}}
                        {{numberOfItems}} {{inflect numberOfItems "item" "items"}} |
                        {{#total}}
                            {{amountCompact}} {{currency.localSymbol}}
                        {{/total}}
                    {{/cart}}
                </a>
            </div>
        </div>
    </div>

    <div class="brand">
        <div class="content">
            <!-- HTML for SEARCH BAR -->
            <div id="tfheader" style="float: right;">
                <form id="tfnewsearch" method="get" action="/search/">
                    <input styles="height: 29px;" type="text" id="tfq2b" class="tftextinput2" name="q" size="21" maxlength="120" placeholder="Search products">
                    <input type="submit" value=">" class="tfbutton2">
                </form>
                <div class="tfclear"></div>
            </div>
            {{#site}}
            <a href="/">
                {{#logo}}
                <img src="{{theme_site_logo_url}}" alt='{{title}}'/>
                {{/logo}}
                {{^logo}}
                <img src="{{resource 'images/logo.png'}}" alt='{{site.title}}'/>
                {{/logo}}
            </a>
            {{/site}}
        </div>
    </div>

    <nav>
        <div class="content">
            <ul class="menu">
                <li {{#isPath '/products/'}} class="active" {{/isPath}}
                    {{#isPath '/'}} class="active" {{/isPath}}>
                    <a href="/products/">Products</a>
                    {{#any collections}}
                        <ul>
                            {{#collections}}
                                <li {{#if current}}class="current"{{/if}}><a href="{{url}}">{{title}}</a></li>
                            {{/collections}}
                        </ul>
                    {{/any}}
                </li>
                <li{{#isPath '/news/'}} class="active" {{/isPath}}><a href="/news/">News</a></li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>

</header>

<section id="content" role="main" class="{{template}} ">

    {{include templateContent}}

</section>

<footer>
    <div id="bottom-bar">

    </div>

    <nav>
        <div class="content">
            <div class="block top left">
                <ul>
                    {{#pages}}
                    <li><a href="{{url}}">{{title}}</a></li>
                    {{/pages}}
                </ul>
                <ul>
                    {{#collections}}
                    <li><a href="{{url}}">{{title}}</a></li>
                    {{/collections}}
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="block top right">

            </div>
            <div class="clearfix"></div>
            <div class="block bottom left">
                Secured payment
            </div>
            <div class="block bottom right">
                Powered by Mayocat Shop
            </div>
            <div class="clearfix"></div>
        </div>
    </nav>
</footer>


</body>
</html>
