<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function set_current_href()
{
   // $(".fb-like").attribute("data-href", document.URL);
    var s = document.getElementById("like");
    s.setAttribute("data-href",document.URL)
}

jQuery(document).ready(function() {
    set_current_href();
});

</script>



<div class="fb-like"
     data-href=""
     data-layout="standard"
     data-action="like"
     data-show-faces="true"
     data-share="true"
        id="like">

</div>