

<!--=== Content Part ===-->
<div class="container portfolio-item">
    <!-- Recent Works -->
    <div class="headline">
        <h3>Some products like it !</h3>
    </div>

    <div class="row-fluid margin-bottom-40">
        <ul id="list" class="bxslider recent-work">
            {{#products.list}}
            <li>
                <a href="{{url}}">
                    {{#images}}
                    {{#featured}}
                    <div class="featured">
                        <img class="photo" src="{{theme_product_big_url}}" title="{{title}}" alt="{{title}}"
                             width="471px" height="457px"/>
                    </div>
                    {{/featured}}
                    {{/images}}

                    <img src='' alt='{{title}}' />

                    {{#unitPrice}}
                    <div class="p-price">Giá: {{amountCompact}}{{currency.localSymbol}}</div>
                    {{/unitPrice}}
                </a>
            </li>
            {{/products.list}}
        </ul>
    </div>

    <!-- //End Recent Works -->
</div><!--/container-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="../resources/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../resources/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="../resources/assets/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="../resources/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="../resources/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initBxSlider1();
    });
</script>
<!--[if lt IE 9]>
<script src="../resources/assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29166220-1']);
    _gaq.push(['_setDomainName', 'htmlstream.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
